.button {
  padding: 10px 25px;
  font-size: 14px;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 7px;
  border: 0.1px solid rgba(255, 255, 255, 0);
  background: linear-gradient(
    269.47deg,
    var(--color-background-light) 2.21%,
    var(--color-background-dark) 97.11%
  );
  justify-content: center;
  color: white;
  transition: 300ms;
 

 

  &.light {
    color: var(--color-room-font);
    background: #ffffff;
 
  }
}
