.room-slider {
  .slick-arrow {
    background-color: rgb(232, 232, 232) !important;
    width: 60px;
    height: 52px;
    border-radius: 32px;
    &::before {
      content: "";
      position: absolute;
      height: 20%;
      aspect-ratio: 1/1;
      display: block;
      border-bottom: 2px solid var(--color-title-font);
      border-left: 2px solid var(--color-title-font);
      translate: -25% -50%;
      transform-origin: center center;
      top: 50% !important;
      left: 50% !important;
      rotate: 45deg;
    }
  }
  .slick-arrow.slick-next {
    bottom: 0;
    top: unset;
    right: 7vw;
    background-color: var(--color-background-light) !important;
    &::before {
      rotate: -135deg;
      translate: -75% -50%;
      border-color: white;
    }
  }
  .slick-arrow.slick-prev {
    bottom: 0;
    top: unset;
    left: unset;
    right: calc(7vw + 80px);
  }
}
