@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Lexend:wght@300;400;500;700;900&display=swap');


*{
    padding: 0;margin: 0;box-sizing: border-box;
    font-family: inherit;
    color: inherit;
    outline: 1px solid rgba(255, 0, 0, 0.162);

}

:root{
    --color-title-font: #1B1C57;
    --color-p-font: #626687;
    --color-background-light: #003ADF;
    --color-background-dark: #002384;
    --color-room-font: #1D4ED8;
    --color-room-background: #DBEAFE;
    --color-logo: #0071B0;
}
body{
    font-family: 'Lexend', sans-serif;
}

.bruno{
    font-family: 'Bruno Ace SC', cursive;
}
.lexend{
    font-family: 'Lexend', sans-serif;}