.rooms {
  padding: 7%;
  padding-right: 0;
  overflow: hidden;
  @media (max-width: 400px) {
  }
  @media (min-width: 1840px) {
    padding-left: calc(50vw - 1600px / 2);
  }
  &.visible{
    h1,.slider{
      translate: 0;
      opacity: 1;
      transition: 1s;
    }
    .slider{
      transform: 1.5s;
    }
   }
   h1 {
    translate: -100px;
    opacity: 0;
   }
}
.slider {
  padding: 40px 0 150px;
  opacity: 0;
  translate: 0 100px;
}

.imageCard {
  position: relative;
  height: 600px;
  margin: 0 5%;
  @media (max-width: 800px) {
    height: 400px;
    .image {
      height: 400px !important;
    }
  }

  @media (max-width: 600px) {
    margin: 0;
    .image {
      width: 80vw !important;
    }
  }

  .image {
    height: 600px;
    object-fit: cover;
    border-radius: 30px;
  }
  p {
    position: absolute;
    bottom: 5%;
    left: 5%;
    background-color: var(--color-room-background);
    color: var(--color-room-font);
    padding: 5px 15px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #0e1735;
    padding-top: 24px;
  }
}
