.title{
color: var(--color-title-font);
text-transform: capitalize;
font-size: 32px;
    span{
        color: transparent;
         -webkit-text-stroke-color: var(--color-title-font);
        -webkit-text-stroke-width: 1px; 
    }
    &.light{
        color: white;
         span{
              -webkit-text-stroke-color: white;
         }

    }  &.large{
font-size: 44px;
    }
}