.container {
  background: linear-gradient(
    113.96deg,
    var(--color-background-light) 3.46%,
    var(--color-background-dark) 96.64%
  );
  padding: 7%;
  &.visible .about{
    img {
      scale: 1;
      transition: 1s;
    }

    .image1 {
      transition-delay: 1200ms;
    }
    .image2 {
      transition-delay: 800ms;
    }
    .image3 {
      transition-delay: 400ms;
    }
   button, h1,h3,p{
      scale: 1; transition: 1s;
translate: 0;
opacity: 1;
    }
  }
}

.about {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  gap: 10vw;
  @media (min-width: 1900px) {
    gap: 180px;
  }
  @media (max-width: 900px) {
    flex-direction: column;
    gap: 100px;
    .text {
      width: 100% !important;
    }
    .images {
      margin: 0 auto;
      width: 80% !important;
    }
  }

  img {
    scale: 0;
  }

  .images {
    position: relative;
    width: 50%;
    transform-style: preserve-3d;
  }

  .mainImage {
    width: 100%;
    height: auto;
    aspect-ratio: 6/5;
    object-fit: cover;
  }
  .image {
    aspect-ratio: 3/2;
    object-fit: cover;
    position: absolute;
   
  }
  .image1 {
    right: -7%;
    top: -10%;
    width: 40%;
    transform: translateZ(40px);
  }
  .image2 {
    bottom: -7%;
    right: 30%;
    width: 20%;
    transform: translateZ(60px);
  }
  .image3 {
    bottom: 20%;
    left: -5%;
    width: 20%;
    transform: translateZ(80px);
  }

  .text {
    width: 50%;
    h1 {
      max-width: 400px;
    }
    p,
    h3 {
      font-weight: 400;
      font-size: 16px;
      line-height: 190%;
      max-width: 500px;
    }
p,h1,h3{
  scale: 1 0 ;
   }
   button{
    translate: 200px;
    opacity: 0;
   }
    & > p {
      margin: 16px 0;
    }
    h3 {
      font-weight: 600;
    }
    .datas {
      margin: 16px 0 22px;
      padding-bottom: 22px;
      border-bottom: 1px solid white;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
    }
    .datas p {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }
}
