.image{
    position: fixed;
    object-fit: contain;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 11;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: 300ms;
 }